* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/239/105/desktop-wallpaper-abstract-mobile-u-2160x3840-abstract-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  border-bottom: 4px solid red;
  color: aliceblue;
  background-color: black;
  padding: 10px 3%;
}

header h1,
header nav {
  margin: auto 0px;
}

header h1 {
  letter-spacing: 10px;
}
#left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#left .childLeft {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px;
  background-color: blue;
  border: 3px solid red;
  border-radius: 15px;
  padding: 15px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.315);
  gap: 10px;
  box-shadow: 2px 2px 10px white;
}

#left .childLeft div {
  display: flex;
  gap: 15px;
  text-align: justify;
  font-size: 18px;
}

#left .childLeft h3 {
  margin: auto;
}

#left .childLeft img {
  width: 200px;
  height: 300px;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 2px 2px 10px white;
}
ul li {
  list-style-type: none;
  display: inline;
}
ul li a {
  list-style-type: none;
  display: inline;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px;
}
#container {
  display: flex;
}
#left {
  width: 75%;
}

aside {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 22%;
  left: 75%;
  margin: 20px;
  background-color: blue;
  border: 3px solid red;
  border-radius: 15px;
  padding: 15px 0px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.315);
  gap: 10;
  box-shadow: 2px 2px 10px white;
}
aside div,
aside h2 {
  margin: 10px auto;
}

th {
  text-align: left;
}

aside img {
  width: 200px;
}

footer {
  display: flex;
  border-top: 4px solid red;
  height: 70px;
  color: aliceblue;
  background-color: black;
  padding: 10px 3%;
}

footer p {
  margin: auto;
}
